@import url('./assets/css/reset.css');
@import url('./assets/css/grid.css');
@import url('./assets/css/feature.css');
@import url('./assets/css/fonts.css');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	padding: 100px 0;
}

.feature_margin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

